body{
    background: linear-gradient(rgb(56, 191, 245),rgb(245, 125, 209));
    font-size: 25px;
}
h1{
    font-size:50px;
}
#score{
  margin-left: -500px;
    
}
#timer{
   margin-right: -500px;
   
}
#next_sketch{
    color: aquamarine;
}
canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}